# Getting Started with the X-Wines Dataset

# Loading the Required Libraries

In [15]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt

# Loading the Datasets

In [10]:
dataset_folder = 'dataset'

wines_file = os.path.join(dataset_folder, 'XWines_Full_100K_wines.csv')
wines_df = pd.read_csv(wines_file)

ratings_file = os.path.join(dataset_folder, 'XWines_Full_21M_ratings.csv')
ratings_df = pd.read_csv(ratings_file)

/var/folders/9n/hfw66rw97sl45x98mmd_vs4r0000gn/T/ipykernel_13612/1791934470.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  ratings_df = pd.read_csv(ratings_file)

In [12]:
wines_df.head()

,WineID,WineName,Type,Elaborate,Grapes,Harmonize,ABV,Body,Acidity,Code,Country,RegionID,RegionName,WineryID,WineryName,Website,Vintages
0,100001,Espumante Moscatel,Sparkling,Varietal/100%,['Muscat/Moscato'],"['Pork', 'Rich Fish', 'Shellfish']",7.5,Medium-bodied,High,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2020, 2019, 2018, 2017, 2016, 2015, 2014, 201..."
1,100002,Ancellotta,Red,Varietal/100%,['Ancellotta'],"['Beef', 'Barbecue', 'Codfish', 'Pasta', 'Pizz...",12.0,Medium-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10001,Casa Perini,http://www.vinicolaperini.com.br,"[2016, 2015, 2014, 2013, 2012, 2011, 2010, 200..."
2,100003,Cabernet Sauvignon,Red,Varietal/100%,['Cabernet Sauvignon'],"['Beef', 'Lamb', 'Poultry']",12.0,Full-bodied,High,BR,Brazil,1001,Serra Gaúcha,10002,Castellamare,https://www.emporiocastellamare.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
3,100004,Virtus Moscato,White,Varietal/100%,['Muscat/Moscato'],['Sweet Dessert'],12.0,Medium-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10003,Monte Paschoal,http://www.montepaschoal.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."
4,100005,Maison de Ville Cabernet-Merlot,Red,Assemblage/Bordeaux Red Blend,"['Cabernet Sauvignon', 'Merlot']","['Beef', 'Lamb', 'Game Meat', 'Poultry']",11.0,Full-bodied,Medium,BR,Brazil,1001,Serra Gaúcha,10000,Aurora,http://www.vinicolaaurora.com.br,"[2021, 2020, 2019, 2018, 2017, 2016, 2015, 201..."

In [13]:
ratings_df.head()

   RatingID   UserID  WineID Vintage  Rating                 Date
0         1  1604441  136103    1950     4.0  2019-10-14 11:20:52
1         2  1291483  136103    1950     5.0  2019-11-28 03:36:33
2         3  1070605  104036    1950     5.0  2017-12-28 10:15:55
3         4  1080181  144864    1950     5.0  2016-06-23 02:16:22
4         5  1834379  111430    1950     5.0  2021-05-16 17:58:14

# Checking the Number of Ratings per Wine

In [23]:
# Step 1: Group by 'WineID' and count the number of ratings
count_ratings_df = ratings_df.groupby('WineID')['RatingID'].count().reset_index()

# Step 2: Rename the columns for clarity
count_ratings_df.columns = ['WineID', 'NumRatings']

# Step 3: Merge with wines_df to include 'WineName'
count_ratings_df = count_ratings_df.merge(wines_df[['WineID', 'WineName']], on='WineID', how='left')

# Step 4: Rearrange columns if desired
count_ratings_df = count_ratings_df[['WineID', 'WineName', 'NumRatings']]

# Step 5: Display the DataFrame
count_ratings_df.head()

   WineID                         WineName  NumRatings
0  100001               Espumante Moscatel        2625
1  100002                       Ancellotta          10
2  100003               Cabernet Sauvignon          62
3  100004                   Virtus Moscato         110
4  100005  Maison de Ville Cabernet-Merlot          72

In [24]:
count_ratings_df.shape

(100646, 3)

In [26]:
count_ratings_df[['NumRatings']].describe()

          NumRatings
count  100646.000000
mean      208.786599
std       588.611438
min         5.000000
25%        22.000000
50%        58.000000
75%       187.000000
max     27415.000000

In [32]:
# Getting the Top 10 most rated wines that have at least 50 ratings
top_rated_wines = count_ratings_df[count_ratings_df['NumRatings'] >= 50].sort_values('NumRatings', ascending=False).head(10)
top_rated_wines.head(10)

       WineID                      WineName  NumRatings
55209  155289                 Rioja Reserva       27415
78899  179010       Red (Winemaker's Blend)       23626
78900  179011                    Pinot Noir       21216
11369  111391                Brut Champagne       20913
67312  167418                        Malbec       20817
62392  162494  Cabernet Sauvignon (Reserva)       20456
67313  167419                        Malbec       18823
35773  135825                    Tignanello       18748
78901  179012            Cabernet Sauvignon       18575
67314  167420                        Malbec       17759

# Getting the Best Rated Wines

In [37]:
# Creating a Data Frame with the wine name, id , and average rating
average_ratings_df = ratings_df.groupby('WineID')['Rating'].mean().reset_index()
average_ratings_df.columns = ['WineID', 'AverageRating']
average_ratings_df = average_ratings_df.merge(wines_df[['WineID', 'WineName']], on='WineID', how='left')
average_ratings_df = average_ratings_df[['WineID', 'WineName', 'AverageRating']]
average_ratings_df.head()

   WineID                         WineName  AverageRating
0  100001               Espumante Moscatel       4.134476
1  100002                       Ancellotta       3.500000
2  100003               Cabernet Sauvignon       3.379032
3  100004                   Virtus Moscato       3.172727
4  100005  Maison de Ville Cabernet-Merlot       2.965278

In [38]:
# Filter wines with at least 50 ratings
wines_with_50_ratings = count_ratings_df[count_ratings_df['NumRatings'] >= 50]

# Merge with average_ratings_df to include only wines with at least 50 ratings
average_ratings_filtered = average_ratings_df[average_ratings_df['WineID'].isin(wines_with_50_ratings['WineID'])]

# Sort and get the top 10 wines
top_average_rated_wines = average_ratings_filtered.sort_values('AverageRating', ascending=False)
top_10_wines = top_average_rated_wines.head(10)

# Display the top 10 wines
print("Top 10 Wines with the Highest Average Rating (At Least 50 Ratings):")
top_10_wines

Top 10 Wines with the Highest Average Rating (At Least 50 Ratings):

,WineID,WineName,AverageRating
17324,117346,Clos d'Ambonnay Blanc de Noirs Brut Champagne,4.942675
83335,183447,Wraith Cabernet Sauvignon,4.938889
82145,182257,Treehouse Pinot Noir,4.922581
17638,117660,Millésime Extra Brut Champagne Grand Cru,4.900685
83236,183348,Cabernet Sauvignon Old Sparky Beckstoffer To K...,4.889474
75217,175325,The Laird,4.888430
83780,183892,Cabernet Sauvignon,4.878571
82421,182533,Proprietary Red,4.874074
84992,185104,Fitz Poker Face,4.852941
83662,183774,Abacus Cabernet Sauvignon,4.848684